@charset "utf-8";
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../css/websymbols/websymbols-regular-webfont.eot');
    src: url('../css/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('../css/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('../css/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
table.side-pop{
	border-radius: 5px;
	border:1px solid #e95a4c;
	border-left:10px solid #d84b3d;
	background-color:#e95a4c;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	top:60px;
	left:-63px;
	position:fixed;
	transition			: 0.5s all ease;
	-moz-transition		: 0.5s all ease;
	-webkit-transition	: 0.5s all ease;
	-o-transition		: 0.5s all ease;
	-ms-transition		: 0.5s all ease;
	z-index:1;}
table.side-pop:hover{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color:#e95a4c;
	border:1px solid #e95a4c;
	border-left:10px solid #d84b3d;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	left:0px;
	z-index:99999;}
table.side-pop:hover .popper{
	background-color: transparent;}
.collapsing-pop{
	font-family		: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color:#eee;
	color:#444;
	display:inline;
	position:fixed;
	left:5px;
	border-radius:2px;
	border:2px solid #555;
	top:28px;
	height:18px;
	padding:3px;
	transition			: 0.4s all ease;
	-moz-transition		: 0.4s all ease;
	-webkit-transition	: 0.4s all ease;
	-o-transition		: 0.4s all ease;
	-ms-transition		: 0.4s all ease;}
.collapsing-pop-sym{
	font-family: 'WebSymbolsRegular', cursive;
	font-size:15px;
	height:25px;
	font-weight:bold;
	color:#444;
	transition			: 0.4s all ease;
	-moz-transition		: 0.4s all ease;
	-webkit-transition	: 0.4s all ease;
	-o-transition		: 0.4s all ease;
	-ms-transition		: 0.4s all ease;}
.inside-pop{
	display:inline;
	font-family: 'WebSymbolsRegular', cursive;
	height:20px;
	padding:3px;
	vertical-align:middle;
	background-color:#444;
	color:#ddd;
	font-size:15px;
	font-weight:bold;
	border-radius:0px 2px 2px 0px;}
table.side-pop:hover .inside-pop{
	font-family: 'WebSymbolsRegular', cursive;
	height:20px;
	background-color: transparent;
	color:#ddd;
	font-size:15px;
	font-weight:bold;
	border-radius:0px 2px 2px 0px;}
table.side-pop:hover .collapsing-pop{
	visibility: hidden;}
table.side-pop:hover .collapsing-pop-sym{
	visibility: hidden;}
.popper{
	cursor:pointer;
	background-color: transparent;
	text-align:center;
	border-radius:0px 2px 2px 0px;
	transition			: 0.3s all ease;
	-moz-transition		: 0.3s all ease;
	-webkit-transition	: 0.3s all ease;
	-o-transition		: 0.3s all ease;
	-ms-transition		: 0.3s all ease;}
a.lainnya_style {
font-family		: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
color			: #444;
font-size		: 10.5px;
text-align		: left;
margin			: 0px;
margin-top		: 5px;
padding			: 3px;
display			: block;
z-index			: -9999px;
position		: relative; 
cursor			: pointer;
opacity:0.8;
transition			: 0.2s all ease-in-out;
-moz-transition		: 0.2s all ease-in-out;
-webkit-transition	: 0.2s all ease-in-out;
-o-transition		: 0.2s all ease-in-out;
-ms-transition		: 0.2s all ease-in-out;
}
a.lainnya_style:hover{
	opacity:1;
color:#eee; font-size:12px;
}
a.lainnya_style:active{color:#eee;
background-color:#444;
border-radius:3px;}

div.icon_side {
    height: 34px;
    width: 34px;
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
    display: inline-block;
transition			: 0.2s all ease-in-out;
-moz-transition		: 0.2s all ease-in-out;
-webkit-transition	: 0.2s all ease-in-out;
-o-transition		: 0.2s all ease-in-out;
-ms-transition		: 0.2s all ease-in-out;
}
div.icon_side:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
/* Chat Box */
div.icon_side div.chat {
    width: 34px;
    height: 22px;
    background: #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

div.icon_side div.chat:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    top: 16px;
    left: 2px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

div.icon_side div.lines {
    background-color: #e95a4c;
    height: 2px;
    width: 17px;
    left: 5px;
    position: absolute;
    top: 5px;
}

div.icon_side div.lines:after {
    content: '';
    background-color: #e95a4c;
    height: 2px;
    width: 10px;
    position: absolute;
    top: 5px;
}

div.icon_side div.lines:before {
    content: '';
    background-color: #e95a4c;
    height: 2px;
    width: 22px;
    position: absolute;
    top: 10px;
}
/* Key */
div.icon_side div.key_base {
    width: 22px;
    height: 22px;
    background: #eee;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

div.icon_side div.key_base:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #e95a4c;
}

div.icon_side div.key_base:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 5px;
    border-top: 6px solid #eee;
    border-right: 3px solid #eee;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
    left: 18px;
    top: 14px;
}

div.icon_side div.key_squares {
    width: 6px;
    height: 6px;
    background: #eee;
    position: absolute;
    top: 18px;
    left: 17px;
}

div.icon_side div.key_squares:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #eee;
    position: absolute;
    top: 4px;
    left: 4px;
}

div.icon_side div.key_squares:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #eee;
    position: absolute;
    top: 8px;
    left: 8px;
}
/* User */
div.icon_side div.user {
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 6px 6px 0 0;
    margin-left: 8px;
    margin-top: 0px;
}

div.icon_side div.user:after {
    content: '';
    width: 13px;
    height: 18px;
    background: #eee;
    position: absolute;
    margin-top: 4px;
    margin-left: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

div.icon_side div.user:before {
    content: '';
    width: 17px;
    height: 7px;
    position: absolute;
	background-color:#eee;
    top: 9px;
    left: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
div.icon_side div.neck {
    content: '';
    width: 7px;
    height: 15px;
    position: absolute;
	background-color:#eee;
    top: 10px;
    left:12px;
}
div.icon_side div.shoulder {
    content: '';
    width: 34px;
    height: 30px;
    position: absolute;
	background-color:#eee;
    top: 23px;
    left: 0;
    border-radius: 50% 50% 0px 0px;
}
/*DAFTAR JENIS DAN BARU*/
div.icon_side div.daftar_bg {
width:34px;
background-color:#eee;
height:28px;
position	: absolute;
border-radius:3px;
}
div.icon_side div.daftar_baru {
height: 32px;
width:32px;
background: #eee;
top:0;
left:18px;
bottom:auto;
font-family	: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
color		: #e95a4c;
font-size	: 12px;
position	: absolute;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
div.icon_side div.daftar_jenis {
height:32px;
width:32px;
background: #eee;
left:18px;
top:0;
bottom:auto;
font-family	: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
color		: #e95a4c;
font-size	: 12px;
position	: absolute;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
/*INFO dan HELP*/
div.icon_side div.info_bg {
background-color: #eee;
height			: 34px;
width			: 34px;
z-index			: -eee9px;
cursor			: pointer;
border-radius	: 50px;
position		: absolute;
}
div.icon_side div.info_symb_help {
font-family		: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
color			: #e95a4c;
font-size		: 30px;
font-weight		: bold;
position		: absolute;
left			: 9px;
bottom			: 0px;
cursor			: pointer;
position		: absolute;
}
div.icon_side div.info_symb_i {
font-family		: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
color			: #e95a4c;
font-size		: 30px;
font-weight		: bold;
position		: absolute;
left			: 14px;
bottom			: 0px;
cursor			: pointer;
position		: absolute;
}
/* Page */
div.icon_side div.paper {
    width: 18px;
    height: 28px;
    background: #e95a4c;
    margin-left: 0px;
    border: 2px solid #eee;
}

div.icon_side div.paper:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    background: #eee;
    margin: 5px 2px 0 2px;
}

div.icon_side div.paper:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    background: #eee;
    margin: 9px 2px 0 2px;
}

div.icon_side div.paperLines {
    height: 2px;
    width: 14px;
    position: absolute;
    left: 4px;
    top: 15px;
    background: #eee;
}

div.icon_side div.paperLines:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    background: #eee;
    margin: 4px 0 0 0;
}

div.icon_side div.paperLines:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    background: #eee;
    margin: 8px 0 0 0;
}